{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Social Network{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{% static 'network/styles.css' %}" rel="stylesheet">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/869e8d43b7.js" crossorigin="anonymous"></script>
    </head>
    <body>

        <nav class="navbar navbar-expand-lg navbar-light bg-light" style="box-shadow: 0px 0px 5px lightgray; display: flex; justify-content: space-around;">
            <div style="display: block; width: 50%;">
                <a class="navbar-brand" href="/" style="justify-self: flex-start;">Network</a>
            </div>
          
            <div style="justify-content: space-around;">
              <ul class="navbar-nav mr-auto" style="display: flex; align-items: center;">
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'index' %}">All Posts</a>
                </li>
                {% if user.is_authenticated and user != AnonymousUser %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'postsByFollowingPeople' %}">Following</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Log In</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'register' %}">Register</a>
                    </li>
                {% endif %}

                {% if user.is_authenticated %}
                    {% if profile %}
                    <a class="nav-link" href="{% url 'viewProfile' signedInUser.id %}"
                        style="color: black; letter-spacing: 1px; margin-left: 50px; display: flex; align-items: center;">
                        {% if not signedInUser.profile_pic %}
                            <img src="{% static 'network/blankUserIcon.svg' %}" width="45px" height="45px" style="border-radius: 50%; margin-right: 15px;">
                        {% else %}
                            <img src="{{signedInUser.profile_pic.url}}" width="45px" height="45px" style="border-radius: 50%; margin-right: 15px;">
                        {% endif %}
                        <strong>{{ signedInUser.username }}</strong>
                    </a>
                    {% endif %}
                    {% if not profile %}
                        <a class="nav-link" href="{% url 'viewProfile' user.id %}"
                            style="color: black; letter-spacing: 1px; margin-left: 50px; display: flex; align-items: center;">
                            {% if not user.profile_pic %}
                            <img src="{% static 'network/blankUserIcon.svg' %}" width="45px" height="45px"
                                style="border-radius: 50%; margin-right: 15px;">
                            {% else %}
                            <img src="{{user.profile_pic.url}}" width="45px" height="45px"
                                style="border-radius: 50%; margin-right: 15px;">
                            {% endif %}
                            <strong>{{ user.username }}</strong>
                        </a>
                    {% endif %}
                {% endif %}
              </ul>
            </div>

            
          </nav>
        
        <div class="body">
            {% block body %}
            {% endblock %}
        </div>
    </body>
</html>