{% extends "network/layout.html" %}
{% load static %}


{% block body %}


    
    <div class="maindiv">
        <form action="{% url 'register' %}" method="post" class="loginForm" enctype="multipart/form-data">

            <h3>Register</h3>
            {% csrf_token %}
            <div class="form-group"  style="width: 80%;">
                <input class="form-control inputfield" autofocus type="text" required name="username" placeholder="Username">
            </div>
            <div class="form-group" style="width: 80%;">
                <input class="form-control inputfield" type="email" name="email" required placeholder="Email Address">
            </div>
            <div class="form-group" style="width: 80%;">
                <input class="form-control inputfield" type="password" name="password" required placeholder="Password">
            </div>
            <div class="form-group" style="width: 80%;">
                <input class="form-control inputfield" type="password" name="confirmation" required placeholder="Confirm Password">
            </div>
            <div class="form-group" style="width: 80%;">
                <label for="profilePicInput" class="profilePicUpload">
                    <i class="fas fa-image" style="margin-right: 10px;"></i>
                    Choose a profile picture
                </label>
                <input class="form-control inputfield" id="profilePicInput" hidden type="file" name="profilePicture" onchange="setFileValue()">
                <label id="fileNameDisplay">File name</label>
            </div>
            <input class="btn btn-primary login" type="submit" value="Register">

            {% if message %}
            <div style="margin-top: 20px; color:rgb(209, 0, 0); font-weight: 500;">{{ message }}</div>
            {% endif %}


            <div style="width: 90%; font-size: small; text-align: center; margin-top: 35px;">
                Already have an account? <a href="{% url 'login' %}">Log In here.</a>
            </div>

            


        </form>


    </div>
    <script src="{% static 'network/fileUpload.js' %}"></script>


{% endblock %}